body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background-color: #fffef5f9;
  color: #313131;
}

hr {
  border-top: 2px solid rgb(44, 51, 62);
  margin: auto;
}

.sidebar {
  width: 220px;
  background: #2c3e50;
  color: #fff;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.4em;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background 0.3s;
}

.menu a:hover {
  background: #34495e;
}

.content {
  margin-left: 220px;
  flex: 1;
  padding: 40px;
  min-height: 100vh;
  max-width: 1000px;
}

.content h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

button {
  background-color: rgb(32, 107, 227);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: rgb(22, 87, 207);
}

button:active {
  background-color: rgb(12, 67, 187);
}

input, textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
}

.loading-gif {
  height: 1em;
  vertical-align: middle;
}
